<div class="container sell-page">
    <div class="section main-content white card">
        <!--Page Header-->
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="../../media/photo-1451186859696-371d9477be93.jpg"> <!-- random image -->
                    <div class="caption right-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="../../media/images/sell-page-2.jpg"> <!-- random image -->
                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="../../media/images/sell-page-6.jpg"> <!-- random image -->
                    <div class="caption left-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="../../media/images/sell-page-5.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
        <!--Page Content-->
        <div class="row card-content grey-text">
            <div class="col s12 l4">
                <div class="row center-align sell-flow-nav"
                     ng-click="model.sellImage()">
                    <div class="col s3 sell-flow-nav-image">
                        <i class="fa fa-5x fa-picture-o"></i>
                    </div>
                    <div class="col s8 sell-flow-nav-text">
                        <h5>Image</h5>
                        <h6>Upload an Image of what you want to sell.</h6>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="row center-align sell-flow-nav sell-flow-nav-border">
                    <div class="col s3 sell-flow-nav-image"
                         id="sell-search-icon">
                        <i class="fa fa-5x fa-search"></i>
                    </div>
                    <div class="col s8 sell-flow-nav-text"
                         id="sell-search-text">
                        <h5>Search</h5>
                        <h6>Search for similar products before selling.</h6>
                        <div class="col s10">
                            <input placeholder="Search for similar products"
                                   id="sell-search"
                                   ng-model="model.search_input"
                                   ng-keypress="($event.which ==13 || $event.keyCode==13)? model.sellSearch():return"
                                   type="text"
                                   class="validate">
                        </div>
                        <div class="col s2"
                             ng-click="model.sellSearch()">
                            <i class="fa fa-3x fa-angle-right sell-search-btn"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="row center-align sell-flow-nav last-one"
                     ng-click="model.sellDirect()">
                    <div class="col s3 sell-flow-nav-image">
                        <i class="fa fa-5x fa-shopping-cart"></i>
                    </div>
                    <div class="col s8 sell-flow-nav-text">
                        <h5>Direct</h5>
                        <h6>Directly create a listing for a provider.</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="analytics card grey-text">
            <h5>Top Selling Products</h5>
        </div>
        <div class="analytics card grey-text">
            <h5>Top Selling Categories</h5>
        </div>
        <div class="analytics card grey-text">
            <h5>Top Selling Providers</h5>
        </div>
        <div class="analytics card grey-text">
            <h5>Live Listings</h5>
        </div>
    </div>
</div>