<div class="container"><h1>Merchant Catalogs</h1>
    <div class="row">
        <div ng-repeat="catalog in cc.catalogs">
            <!--<li><a href="/user/{{user._id}}/catalog/{{catalog._id}}">{{catalog.name}}</a></li>-->
            <div class="col s12">
                <div class="card" style="background-color: rgba(160, 160, 160, 0.63)">
                    <div class="card-content white-text">
                        <span class="card-title">{{catalog.name}}</span>
                        <p>{{catalog.description}}</p>
                        <div class="section">
                            <div class="row">
                                <div class="col s6 m4" ng-model="catalog.products" ng-repeat="product in catalog.products">
                                    <div class="card grey darken-1">
                                        <div class="card-image">
                                            <img ng-src="{{product.imageUrl}}">
                                            <span class="card-title">{{product.name}}</span>
                                        </div>
                                        <div class="card-content">
                                            <p>{{product.description}}</p>
                                            <p>{{product.price}}</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#/user/{{user._id}}/product/{{product._id}}">See {{product.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action center white">
                        <a href="#/user/{{catalog.merchantId}}">See {{catalog.merchantName}}'s Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Merchant Products</h1>
    <div class="section">
        <div class="row">
            <div class="col s6" ng-repeat="product in cc.products">
                <div class="card grey darken-3">
                    <div class="card-image">
                        <img ng-src="{{product.imageUrl}}">
                        <span class="card-title">{{product.name}}</span>
                    </div>
                    <div class="card-content white-text">
                        <p>{{product.description}}</p>
                        <p>{{product.price}}</p>
                    </div>
                    <div class="card-action">
                        <a href="#/user/{{user._id}}/product/{{product._id}}">See {{product.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>