<div class="container">
    <div class="section main-content">
        <div class="row">
            <div class="col s12">
                <div class="product-description-card ">
                    <div class="card">
                        <col>
                        <div class="card-image pdp-image center-align">
                            <a target="_blank"
                               href="{{model.product.ebay.ebayListingUrl}}">
                                <img ng-src="{{model.product.ebay.image}}"
                                     alt="Product Image">
                            </a>
                        </div>
                        <div class="card-content">
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="fa fa-shopping-cart circle"
                                       aria-hidden="true"></i>
                                    <span class="title">Provider</span>
                                    <p ng-if="model.product.providerId=='10002'">
                                        Provider : Amazon
                                    </p>
                                    <p ng-if="model.product.providerId=='10001'">
                                        Provider : ebay
                                    </p>
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="fa fa-bullhorn circle"
                                       aria-hidden="true"></i>
                                    <span class="title">Title</span>
                                    <p>{{model.product.title}}
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="fa fa-plug circle"
                                       aria-hidden="true"></i>
                                    <span class="title">Provider Item ID</span>
                                    <p>{{model.product.providerItemId}}
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="fa fa-sitemap circle"
                                       aria-hidden="true"></i>
                                    <span class="title">Category</span>
                                    <p>{{model.product.ebay.subCategory.name}}
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="fa fa-sitemap circle"
                                       aria-hidden="true"></i>
                                    <span class="title">Category ID</span>
                                    <p>{{model.product.ebay.subCategory.code}}
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="fa fa-puzzle-piece circle"
                                       aria-hidden="true"></i>
                                    <span class="title">Model</span>
                                    <p>{{model.product.model}}
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="fa fa-info circle"
                                       aria-hidden="true"></i>
                                    <span class="title">MPN</span>
                                    <p>{{model.product.mpn}}
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="fa fa-usd circle"
                                       aria-hidden="true"></i>
                                    <span class="title">Price</span>
                                    <p>{{model.product.price.value + " " + model.product.price.currency}}
                                    </p>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="fa fa-list-alt circle"
                                       aria-hidden="true"></i>
                                    <span class="title">Description</span>
                                    <p>{{model.product.description}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-action center-align">
                            <div class="row">
                                <div class="col s12 m4">
                                    <a class="btn-flat"
                                       href="#/dashboard">Goto Dashboard</a>
                                </div>
                                <div class="col s12 m4">
                                    <a class="btn-flat"
                                       target="_blank"
                                       href="{{model.product.ebay.ebayListingUrl}}">See on Ebay</a>
                                </div>
                                <div class="col s12 m4">
                                    <a class="btn-flat"
                                       ng-click="model.pdpSell(model.product)">Sell</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card teal lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title">Analytics</span>
                        <p>Coming Soon.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card teal lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title tex">Social</span>
                        <p>Coming Soon.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
