<!--<div class="row">-->
<!--<div class="col s12 m3 l3" ng-repeat="product in products">-->
<!--<md-card>-->
<!--<md-card-header>-->
<!--<md-card-avatar>-->
<!--<img ng-src="../../../app/media/eBay_rightnow_vert.png">-->
<!--</md-card-avatar>-->
<!--<md-card-header-text>-->
<!--<span class="md-title">Ebay</span>-->
<!--<span class="md-subhead">Contract ID</span>-->
<!--</md-card-header-text>-->
<!--</md-card-header>-->
<!--<img ng-src="{{product.galleryURL | removeDoubleQuotes}}" class="md-card-image" alt="Product Image">-->
<!--<md-card-title>-->
<!--<md-card-title-text>-->
<!--<span class="md-headline">{{product.title[0] | removeDoubleQuotes}}</span>-->
<!--<span class="md-subhead">Reversed</span>-->
<!--</md-card-title-text>-->
<!--</md-card-title>-->
<!--<md-card-actions layout="row" layout-align="start center">-->
<!--<md-button>Action 1</md-button>-->
<!--<md-button>Action 2</md-button>-->
<!--<md-card-icon-actions>-->
<!--<md-button class="md-icon-button" aria-label="toggle">-->
<!--<md-icon md-svg-icon="md-toggle-arrow"></md-icon>-->
<!--</md-button>-->
<!--</md-card-icon-actions>-->
<!--</md-card-actions>-->
<!--<md-card-content>-->
<!--&lt;!&ndash;<p>&ndash;&gt;-->
<!--&lt;!&ndash;The titles of Washed Out's breakthrough song and the first single from Paracosm share the&ndash;&gt;-->
<!--&lt;!&ndash;two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--</md-card-content>-->
<!--</md-card>-->
<!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col s12 m6 l4" ng-repeat="product in products">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img ng-src="{{product.galleryURL | removeDoubleQuotes}}" class="md-card-image" alt="Product Image">
                <span class="card-title">{{product.title[0] | removeDoubleQuotes}}</span>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Ebay<i
                        class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{product.title[0] | removeDoubleQuotes}}<i
                        class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
</div>

