<div class="navbar-fixed" ng-controller="HeaderController">
    <nav class="light-blue accent-2" role="navigation" >
        <div class="nav-wrapper container"><a id="logo-container" href="#/home" class="brand-logo">GlueC</a>
            <ul class="right hide-on-med-and-down">
                <li ng-show="user && user._id" ng-class="{active: $location.url() == '/profile'}"><a href="#/profile"><i class="material-icons left">perm_identity</i>Welcome
                    {{user.firstName}}</a></li>
                <li ng-show="user && user._id && user.roles !== undefined && user.roles.indexOf('admin') !== -1" ng-class="{active: $location.url() == '/admin'}"><a href="#/admin"><i class="material-icons left">perm_identity</i>Admin</a></li>
                <li ng-show="user"><a href="#/dashboard"><i class="material-icons left">dashboard</i>Dashboard</a></li>
                <li><a href="#/listing/create"><i class="material-icons left">shopping_cart</i>Sell</a></li>
                <li ng-hide="user" ng-class="{active: $location.url() == '/register'}"><a href="#/register">Register</a>
                </li>
                <li ng-hide="user" ng-class="{active: $location.url() == '/login'}"><a href="#/login">Login</a></li>
                <li ng-show="user"><a ng-click="logout()">Logout</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li ng-show="user && user._id" ng-class="{active: $location.url() == '/profile'}"><a href="#/profile"><i class="material-icons left">perm_identity</i>Welcome
                    {{user.firstName}}</a></li>
                <li ng-show="user && user._id && user.roles !== undefined && user.roles.indexOf('admin') !== -1" ng-class="{active: $location.url() == '/admin'}"><a href="#/admin"><i class="material-icons left">perm_identity</i>Admin</a></li>
                <li ng-show="user"><a href="#/dashboard"><i class="material-icons left">dashboard</i>Dashboard</a></li>
                <li><a href="#/listing/create"><i class="material-icons left">shopping_cart</i>Sell</a></li>
                <li ng-hide="user" ng-class="{active: $location.url() == '/register'}"><a href="#/register">Register</a>
                </li>
                <li ng-hide="user" ng-class="{active: $location.url() == '/login'}"><a href="#/login">Login</a></li>
                <li ng-show="user"><a ng-click="logout()">Logout</a></li>
            </ul>
            <a href="#" mobile-nav data-activates="nav-mobile" class="button-collapse"><i
                    class="material-icons">menu</i></a>
        </div>
    </nav>
</div>


<!--Backup from index.html-->
<!--<div class="navbar-fixed" ng-controller="HeaderController">-->
<!--<nav class="amber accent-4" role="navigation">-->
<!--<div class="nav-wrapper container"><a id="logo-container" href="#/home" class="brand-logo">GlueC</a>-->
<!--<ul class="right hide-on-med-and-down">-->
<!--<li ng-show="user"><a href="#/profile"><i class="material-icons left">perm_identity</i>Welcome-->
<!--{{user.firstName}}</a></li>-->
<!--<li ng-show="user"><a href="#/dashboard"><i class="material-icons left">dashboard</i>Dashboard</a></li>-->
<!--<li><a href="#/new-listing"><i class="material-icons left">shopping_cart</i>Sell</a></li>-->
<!--<li ng-hide="user" ng-class="{active: $location.url() == '/register'}"><a href="#/register">Register</a>-->
<!--</li>-->
<!--<li ng-hide="user" ng-class="{active: $location.url() == '/login'}"><a href="#/login">Login</a></li>-->
<!--<li ng-show="user"><a ng-click="logout()">Logout</a></li>-->
<!--</ul>-->
<!--<ul id="nav-mobile" class="side-nav">-->
<!--<li ng-show="user"><a href="#/profile"><i class="material-icons left">perm_identity</i>Welcome-->
<!--{{user.firstName}}</a></li>-->
<!--<li ng-show="user"><a href="#/dashboard"><i class="material-icons left">dashboard</i>Dashboard</a></li>-->
<!--<li><a href="#/new-listing"><i class="material-icons left">shopping_cart</i>Sell</a></li>-->
<!--<li ng-hide="user" ng-class="{active: $location.url() == '/register'}"><a href="#/register">Register</a>-->
<!--</li>-->
<!--<li ng-hide="user" ng-class="{active: $location.url() == '/login'}"><a href="#/login">Login</a></li>-->
<!--<li ng-show="user"><a ng-click="logout()">Logout</a></li>-->
<!--</ul>-->
<!--<a href="#" mobile-nav data-activates="nav-mobile" class="button-collapse"><i-->
<!--class="material-icons">menu</i></a>-->
<!--</div>-->
<!--</nav>-->
<!--</div>-->
