<div class="content-wrapper">
    <div id="splash-image">
        <div class="slider fullscreen">
            <ul class="slides">
                <li>
                    <img src="../../media/images/pexels-photo-66997.jpeg"> <!-- random image -->
                    <div class="caption center-align">
                        <div class="row splash-text">
                            <h2 class="white-text">Glue For Ecommerce</h2>
                            <h4 class="light grey-text text-lighten-3">Sell, Buy and Review on more than 50
                                                                       providers.</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../media/images/home-2.jpg"> <!-- random image -->
                    <div class="caption left-align">
                        <div class="row splash-text">
                            <h2 class="white-text">Stand Out</h2>
                            <h4 class="light grey-text text-lighten-3">Our Analytics help you target.</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../media/images/home-3.jpg"> <!-- random image -->
                    <div class="caption right-align">
                        <div class="row splash-text">
                            <h2 class="white-text">Sell Anything</h2>
                            <h4 class="light grey-text text-lighten-3">With smart listings, sell anything, anywhere.</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../media/images/home-4.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <div class="row  splash-text">
                            <h2 class="white-text">Zero Bootstrap</h2>
                            <h4 class="light grey-text text-lighten-3">With DIY tools, start selling in no time.</h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--<div id="inside-splash-container">-->
        <!--<div id="splash-text"-->
        <!--class="row center-align">-->
        <!--<div class="col s12">-->
        <!--<h1 class="white-text">Stand Out</h1>-->
        <!--<br>-->
        <!--<h4 class="white-text">Sell, Buy and Review on more than 50 providers.</h4>-->
        <!--</div>-->
        <!--<br>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div id="scroll-arrow"
         class="arrow bounce">
        <i class="fa fa-2x fa-angle-double-down arrow-icon"
           aria-hidden="true"
           style=""></i>
    </div>
    <div class="splash-search-div">
        <div class="row">
            <div class="input-field col s12 offset-m3 m6">
                <input placeholder="Start by searching for a product.."
                       id="home-search"
                       ng-model="model.search_input"
                       ng-keypress="($event.which ==13 || $event.keyCode==13)? model.search():return"
                       type="text"
                       class="validate">
            </div>
        </div>
        <div class="row center-align">
            <div class="col offset-s1 s10 offset-m3 m6">
                <a class="waves-effect btn home-button"
                   ng-click="model.search()">Search</a>
                <a class="waves-effect btn home-button"
                   href="#/how-it-works">How it Works</a>
            </div>
        </div>
    </div>
    <div class="container home-info"
         ng-class="{'hide-content': !model.isLoggedIn()}">
        <div id="home-cards"
             class="row"
             style="">
            <div class="col s12 m6">
                <div class="card-panel">
                    <div class="row center home-card-header"
                         style="">
                        <i class="fa fa-3x fa-shopping-cart"></i>
                        <h6>Buyers</h6>
                    </div>
                    <div class="row center-align">
              <span>Shop your favorite products from over 50 providers at the best prices.
              </span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel">
                    <div class="row center home-card-header"
                         style="">
                        <i class="fa fa-3x fa-flask"></i>
                        <h6>Merchants</h6>
                    </div>
                    <div class="row center-align">
              <span>We make the selling process as simple as it can get. Sell your products on all our providers with ease.
              </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>