<div class="center main-content">
    <div class="container">
        <div class="row div-40 main-search-div">
            &nbsp;
        </div>
        <div class="row">
            <div class="row">
                <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
                    <div class="input-field">
                        <input class="center-align"
                               ng-model="model.search_input"
                               id="search"
                               placeholder="Search Products, Buyers, Listings, Reviews.."
                               type="text"
                               ng-keypress="($event.which ==13 || $event.keyCode==13)? model.search():return">
                        <!--<label for="search">Search Products, Buyers, Listings, Reviews..</label>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
                    <a href="#/search/q/{{model.search_input}}" class="waves-effect waves-light btn">
                        <i class="material-icons left">search</i>Search</a>
                </div>
            </div>
        </div>
    </div>
</div>