<h1>Your Catalogs</h1>

<div ng-repeat="catalog in cc.catalogs">
    <ul>
        <li><a href="/user/{{user._id}}/catalog/{{catalog._id}}">{{catalog.name}}</a></li>
        <li>{{catalog.merchantId}}</li>
        <li>{{catalog.productIds}}</li>
        <li><button ng-click="cc.goToUpdate(catalog)">Update</button></li>
        <li><button ng-click="cc.deleteCatalog(catalog._id)">Delete</button></li>
    </ul>
</div>

<h1>Your Products</h1>

<div ng-repeat="catalog in cc.catalogs">
    <ul>
        <li>{{catalog.name}}</li>
        <li>{{catalog.merchantId}}</li>
        <li>{{catalog.productIds}}</li>
        <li><button ng-click="cc.goToUpdate(catalog)">Update</button></li>
        <li><button ng-click="cc.deleteCatalog(catalog._id)">Delete</button></li>
    </ul>
</div>