<h1>Your Catalogs</h1>

<div ng-repeat="catalog in cc.catalogs">
    <!--<li><a href="/user/{{user._id}}/catalog/{{catalog._id}}">{{catalog.name}}</a></li>-->

    <div class="row">
        <div class="col s12 m12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{catalog.name}}</span>
                    <p>{{catalog.description}}</p>
                </div>
                <div class="card-action">
                    <!--<li><button ng-click="cc.goToUpdate(catalog)">Update</button></li>-->
                    <!--<li><button ng-click="cc.deleteCatalog(catalog._id)">Delete</button></li>-->
                    <a href="#">{{catalog.merchantId}} Profile</a>
                            <a href="#">See Products</a>
                            <a href="#/user/{{user._id}}/catalog/{{catalog._id}}/edit">Update</a>
                            <a href="" ng-click="cc.deleteCatalog(catalog._id)">Delete</a>
                            {{catalog.productIds}}
                    </div>
            </div>
        </div>
    </div>
</div>

<div><a href="#/user/{{user._id}}/catalog">Create a New Catalog</a></div>

<h1>Your Products</h1>
<div ng-repeat="catalog in cc.catalogs">
    <ul>
        <li>{{catalog.name}}</li>
        <li>{{catalog.merchantId}}</li>
        <li>{{catalog.productIds}}</li>
        <li><button ng-click="cc.goToUpdate(catalog)">Update</button></li>
        <li><button ng-click="cc.deleteCatalog(catalog._id)">Delete</button></li>
    </ul>
</div>