#side-menu-icon
  font-size: 2rem

#side-links
  li
    padding-left: 10px
    transition: all 0.5s ease-in-out
    color: #E4E4E4

  li:hover
    padding-left: 10px
    background-color: #0b3e6f

  li
    a
      color: #F7F7F7
      //border-bottom: 1px solid grey
      padding: 0 10px 0 10px
