nav
  font-family: 'Roboto',sans-serif
  background-color: $PRIMARY-GLUEC-COLOR
  height: 55px !important
  line-height: 55px
  width: 100vw !important

.nav-home
  background-color: rgba(0, 0, 0, 0.3)
  font-weight: 300


.brand-logo
  padding-left: 1vw !important
  font-family: 'Rancho','Noto Serif',serif

.button-collapse
  padding-left: 7px
