.main-content {
    min-height: 90vh !important;
    /*padding-top: 60px;}*/
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.v-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.prod-img {
    display: block;
    max-width: 230px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.div-40 {
    min-height: 40vh !important;
    margin-top: 10vh;
}

.div-20 {
    min-height: 20vh !important;
    margin-top: 10vh;
}

.div-10 {
    min-height: 10vh !important;
    margin-top: 10vh;
}

.card .card-title {
    font-size: 1em;
}

.card .card-content .card-title {
    line-height: 0;
}

.card .pdp-image {
    max-height: 40rem !important;
}

.pdp-card .card-content .card-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.navbar-padding-fix {
    padding-top: 60px;
}

.hide-content {
    display: none;
}

@media only screen and (min-width: 992px) {
    .card .pdp-image img {
        height: 100%;
        width: auto;
        margin: auto !important;
    }
}

#splash-image {
    background-image: url("../media/images/bg.jpg");
    background-size: cover;
    background-position-y: -15vh;
    height: 80vh;
    width: 100%;
}

#inside-splash-container {
    position: absolute;
    top: 30%;
    width: 100%;
    text-shadow: 0px 2px 3px grey, 1px 1px 1px grey;
}

#splash-text {
    font-family: "Noto Serif", serif;
}

.content-wrapper {
    width: 100vw;
    height: 100%;
}

#home-search {
    text-align: center;
}

#home-cards {
    font-family: "Raleway", sans-serif;
}

.home-card-header {
    padding-bottom: 7px;
    color: rgba(128, 128, 128, 0.9);
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    transition: color 0.75s ease-in-out;
}

.home-card-header:hover {
    color: #00838f;
}

#image-near-footer {
    background-image: url("../media/images/bg3.jpg");
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin-bottom: 0;
}

#scroll-arrow {
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 40px;
    height: 40px;
    animation: bounce 1s linear;
}

.arrow-icon {
    color: #CCCCCC;
    position: absolute;
    bottom: 0;
    right: 10px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        background-color: white;
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
        background-color: rgba(255, 255, 255, 0);
    }
}

.fix-top {
    position: fixed;
    z-index: 5;
    top: 0;
}

.div-15 {
    min-height: 15vh;
}

@media all and (max-width: 640px) {
    #splash-image {
        background-image: url("../media/images/mobile-bg.jpg");
        background-size: cover;
        background-position-x: -5vw;
        background-position-y: 0px !important;
    }
}

nav {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    background-color: #00838f;
    height: 55px !important;
    line-height: 55px;
}

.nav-home {
    background-color: rgba(0, 0, 0, 0.3);
}

.brand-logo {
    padding-left: 1vw !important;
    font-family: "Rancho", "Noto Serif", serif;
}

.button-collapse {
    padding-left: 7px;
}

.page-footer {
    background-color: rgba(0, 0, 0, 0.83) !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    color: #f7f7f7 !important;
}

#footer-company-info {
    font-family: "Raleway", sans-serif;
    padding: 40px;
    color: #F7F7F7;
    margin-bottom: 0;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

footer a {
    color: #F7F7F7;
}

.footer-links {
    padding-top: 2rem;
}

.dashboard-wrapper {
    width: 100%;
    height: 100%;
    color: white;
}

#main-dashboard-wrapper {
    margin-bottom: 0;
    background-color: #003d43;
}

#side-menu-icon {
    font-size: 2rem;
}

#side-links {
    line-height: 2.5rem;
}

#side-links li {
    padding-left: 10px;
    transition: all 0.5s ease-in-out;
    color: #E4E4E4;
}

#side-links li:hover {
    padding-left: 10px;
    background-color: #00b2c2;
}

#side-links li a {
    color: #F7F7F7;
    padding: 0 10px 0 10px;
}

#dashboard-dropdown-button {
    width: 100%;
    background-color: #00838f;
}

#dashboard-content-container {
    background-color: #ebebeb;
    color: #484848;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00838f;
    box-shadow: 0 1px 0 0 #00b2c2;
}

body {
    background-color: #ebebeb;
    color: #484848;
}

.card-action a {
    color: #00838f !important;
}

.btn .btn-large {
    background-color: #00838f;
}

.btn:hover {
    background-color: #00545c;
}

#login-alert {
    display: none;
}

.publishListingCard .col {
    padding-right: 0px;
!important;

}

.publishListingCard .row {
    margin: 0px;
!important;

}

.publishListingCard .card {
    margin: 10vh 0px 0px 0px;
    box-shadow: none;
}

.publishListingCard .card .card-content {
    padding-left: 0px;
    padding-right: 0px;
}

.publishListingCard .card .card-content .collection-item {
    border-top: 1px solid #e0e0e0;
}

.publishListingCard .card .card-content .collection-item p {
    margin: 0px;
    padding: 0px;
}

.margin-top-10 {
    margin-top: 10px;
}

.sell-page .section {
    padding-top: 0px;
}

.sell-page .image-header img {
    max-width: 1280px;
}

.sell-page .sell-flow-nav {
    border-right: 1px solid #e0e0e0;
    margin-top: 30px;
    padding: 20px;
}

.sell-page .sell-flow-nav-image {
    text-align: right;
}

.sell-page .sell-flow-nav-text {
    text-align: left;
}

@media all and (max-width: 992px) {
    .sell-page .sell-flow-nav {
        border-bottom: 1px solid #e0e0e0;
        border-right: 0px;
        padding-bottom: 30px;
    }
}

.sell-page .last-one {
    border: 0px !important;
}

.sell-page .sell-flow-nav:hover {
    color: dimgrey;
}

.sell-page .analytics {
    padding: 1rem;
    position: relative;
    margin: 0.5rem 0 1rem 0;
    border-top: 1px solid #e0e0e0;
    box-shadow: none;
}
