<div class="row" ng-if="dc.isUserMerchant() || dc.isUserAdmin()">
    <div ng-controller="CatalogController as cc">
        <div class="col s12 offset-m3 m6">
            <div class="card grey" ng-repeat="catalog in cc.catalogs">
                <div class="card-content white-text">
                    <span class="card-title">{{catalog.name}}</span>
                    <br>
                    <p>{{catalog.parentCategory.name}}</p>
                    <p>{{catalog.description}}</p>
                </div>
                <div class="card-action">
                    <a href="#/dashboard/catalog/{{catalog._id}}/products">See Products</a>
                    <a href="#/dashboard/catalog/{{catalog._id}}/edit">Update</a>
                    <a href= "" ng-click="cc.deleteCatalog(catalog._id)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card-action center">
    <a class="btn waves-effect" href="#/dashboard/catalog/new">Add Catalog</a>
</div>
