<br>
<div class="container">
    <div class="row">
        <div class="col offset-s1 s10">
            <h2>Inbox</h2>
            <ul class="collection collapsible popout">
    <li class="collection-item avatar" style="color: black" ng-repeat="message in mc.messages" data-collapsible="accordion">
        <div class="collapsible-header white darken">
            <i class="material-icons circle blue">insert_chart</i>
        <span class="title">{{message.from}}</span>
        <p>{{message.subject}}</p>
        <!--<a ng-show="message.unread" class="secondary-content"><i class="material-icons">grade</i></a>-->
        </div>
        <div class="collapsible-body white darken" style="color: black"><p>{{message.message}}</p></div>
    </li>
</ul>
        </div>
    </div>
</div>