<div class="main-content">
    <div class="row">
        <div class="col offset-s1 s10">
            <h5>Messages</h5>
            <br>
            <ul class="collection collapsible" data-collapsible="accordion">
                <li ng-repeat="message in mc.messages">
                    <div class="collapsible-header collection-item avatar">
                        <img src="{{message.imageUrl}}" alt="" class="circle">
                        <span class="title">{{message.from}}</span>
                        <p>{{message.subject}}</p>
                        <a href="#!" class="secondary-content" ng-click="mc.deleteMessage($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </div>
                    <div class="collapsible-body">
                        <p>{{message.message}}</p>
                    <button ng-click="mc.reply($index)" class="waves-effect waves-light btn modal-trigger">Reply</button>
                    </div>
                    <br>
                </li>
                </ul>
        </div>
    </div>
<div class="row">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h5>New Message</h5>

                <div class="col s12">
                    <label for="catalog">Select User</label>
                    <select name="catalog" id="catalog" ng-model="mc.message.to">
                        <option ng-repeat="user in mc.users" value="{{user._id}}">{{user.firstName}} {{user.lastName}}</option>
                    </select>
                </div>

                <button data-target="message-modal" class="btn waves-effect modal-trigger">Message</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal Structure -->
<div id="message-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <!--<h6>Message to {{model.user.firstName}}</h6>-->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Subject" id="subject" ng-model="mc.message.subject" type="text" class="validate">
                <label for="subject">Subject</label>
            </div>
            <div class="input-field col s12">
                <textarea id="message" class="materialize-textarea" ng-model="mc.message.message"></textarea>
                <label for="message">Message</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Send</a>
    </div>
</div>