<div class="row" ng-controller="ProfileController as pc">
    <div class="card-content">
        <div class="row">
            <div class="col s12 m6">
                <img id="view-profile-image" src="{{dc.user.imageUrl}}" class="img-responsive"/>
            </div>
            <div class="col s6">
                <table class="table">
                    <thead>
                    <h5>{{dc.user.firstName}} {{dc.user.lastName}}</h5>
                    </thead>
                    <tr></tr>
                    <tr><td>Username</td><td>{{dc.user.username}}</td></tr>
                    <tr><td>Email Address</td><td>{{dc.user.email}}</td></tr>
                    <tr><td>Roles: </td><td><tr ng-repeat="u in dc.user.roles"><td></td><td>{{u | capitalize}}</td></tr></td></tr>
                </table>
            </div>
        </div>
    </div>
<div class="card-action">
    <a class="waves-effect waves-light btn center" href="#/dashboard/profile/edit">Edit</a>
</div>
</div>


