    <div class="row" ng-controller="NewProductController as pc">
        <form class="col s12">
            <h5>Create Product</h5>
            <div class="row">
                <div class="input-field col s12">
                    <label for="inputProductName">Product Name</label>
                    <input type="text" id="inputProductName" ng-model="pc.product.name" class="validate" />
                </div>
                <div class="input-field col s12">
                    <label for="inputDesc">Product Description</label>
                    <textarea id="inputDesc" ng-model="pc.product.description" class="materialize-textarea validate"></textarea>
                </div>
                <div class="input-field col s12">
                    <label for="inputProductManufacturer">Manufacturer</label>
                    <input type="text" id="inputProductManufacturer" ng-model="pc.product.manufacturer" class="validate">
                </div>
                <div class="input-field col s12">
                    <label for="inputProductPrice">Price</label>
                    <input type="text" id="inputProductPrice" ng-model="pc.product.price" class="validate">
                </div>
                <div class="input-field col s12">
                    <label for="inputProductDiscount">Discount</label>
                    <input type="text" id="inputProductDiscount" ng-model="pc.product.discount" class="validate">
                </div>
                <div class="row">
                <div class="col s12 m6">
                    <img src="{{pc.product.imageUrl}}" width="50%" />
                </div>
                    <div class="input-field col s12 m6">
                    <label for="inputProductImage">Image</label>
                    <input type="text" id="inputProductImage" ng-model="pc.product.imageUrl" class="validate">
                </div>
                </div>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" ng-click="pc.createProduct()">Create</button>
        </form>
    </div>