<ul id="card_{{card.type}}"
    ng-switch="card.type"
    class="collapsible popout"
    data-collapsible="accordion">
    <li ng-switch-when="provider"
        class="white">
        <div ng-if="card.header==''"
             class="collapsible-header active">
            <i class="fa fa-shopping-cart"
               aria-hidden="true"></i>
            <!--<i class="material-icons">filter_drama</i>-->
            Select a Provider
        </div>
        <div ng-if="card.header!=''"
             class="collapsible-header active">
            <i class="fa fa-shopping-cart"
               aria-hidden="true"></i>
            {{card.header}}
        </div>
        <div class="collapsible-body">
            <div class="card-content">
                <div class="collection">
                    <a id="{{'provider_'+provider._id}}"
                       ng-click="apply(provider)"
                       ng-repeat="provider in card.data"
                       class="collection-item btn-flat">{{provider.name}} for {{provider.providerUsername}}</a>
                </div>
            </div>
        </div>
    </li>
    <li ng-switch-when="parentCategory"
        class="white">
        <div ng-if="card.header==''"
             class="collapsible-header active">
            <i class="fa fa-sitemap"
               aria-hidden="true"></i>
            <!--<i class="material-icons">filter_drama</i>-->
            Select a Category
        </div>
        <div ng-if="card.header!=''"
             class="collapsible-header active">
            <i class="fa fa-sitemap"
               aria-hidden="true"></i>
            {{card.header}}
        </div>
        <div class="collapsible-body">
            <div class="collection">
                <a id="{{'catgory_'+category._id}}"
                   ng-click="apply(category)"
                   ng-repeat="category in card.data"
                   class="collection-item btn-flat">{{category.name}}</a>
            </div>
        </div>
    </li>
    <li ng-switch-when="subCategory"
        class="white">
        <div ng-if="card.header==''"
             class="collapsible-header active">
            <i class="fa fa-sitemap"
               aria-hidden="true"></i>
            <!--<i class="material-icons">filter_drama</i>-->
            Select a Sub Category
        </div>
        <div ng-if="card.header!=''"
             class="collapsible-header active">
            <i class="fa fa-sitemap"
               aria-hidden="true"></i>
            {{card.header}}
        </div>
        <div class="collapsible-body">
            <div class="collection">
                <a id="{{'catgory_'+category._id}}"
                   ng-click="apply(category)"
                   ng-repeat="category in card.data"
                   class="collection-item btn-flat">{{category.name}}</a>
            </div>
        </div>
    <li ng-switch-when="uploadImage"
        class="white">
        <div ng-if="card.header==''"
             class="collapsible-header active">
            <i class="fa fa-picture-o"
               aria-hidden="true"></i>
            <!--<i class="material-icons">filter_drama</i>-->
            Add Image
        </div>
        <div ng-if="card.header!=''"
             class="collapsible-header active">
            <i class="fa fa-picture-o"
               aria-hidden="true"></i>
            {{card.header}}
        </div>
        <div class="collapsible-body">
            <div class="margin-10">
                <div class="row">
                    <div class="col s10 m6 offset-s1 offset-m3">
                        <div class="row center-align margin-10">
                            <div class="file-field input-field">
                                <input type="file"
                                       placeholder="Select A File"
                                       id="uploadImage"
                                       file-model="card.selectedData">
                                <div class="file-path-wrapper">
                                    <input class="file-path validate"
                                           type="text"
                                           placeholder="Upload one or more files">
                                </div>
                            </div>
                        </div>
                        <div class="row center-align margin-10">
                            <a class="btn"
                               ng-click="apply(card.selectedData)">Upload</a>
                        </div>
                    </div>

                </div>


                <!--<div class="input-field col s6">-->
                <!--<input placeholder="Select A File"-->
                <!--id="uploadImage"-->
                <!--type="file"-->
                <!--class="validate"-->
                <!--file-model="card.selectedData">-->
                <!--</div>-->
                <!--<a class="btn"-->
                <!--ng-click="apply(card.selectedData)">Upload</a>-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
            </div>
        </div>
    </li>
    <li ng-switch-when="otherDetails"
        class="white">
        <div class="collapsible-header active">
            <!--<i class="material-icons">filter_drama</i>-->
            <i class="fa fa-list-alt"
               aria-hidden="true"></i>
            Final Details
        </div>
        <div class="collapsible-body">
            <div class="otherDetailsForm">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Title"
                                       id="title"
                                       type="text"
                                       ng-model="card.data.title">
                                <label for="title"
                                       ng-class="{'active': card.data.title}">Title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                            <textarea id="description"
                                      class="materialize-textarea"
                                      ng-model="card.data.description"></textarea>
                                <label for="description"
                                       ng-class="{'active': card.data.description}">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Price"
                                       id="price"
                                       type="text"
                                       ng-model="card.data.price.value">
                                <label for="price"
                                       ng-class="{'active': card.data.price.value}">Price</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Currency"
                                       id="currency"
                                       type="text"
                                       ng-model="card.data.price.currency">
                                <label for="currency"
                                       ng-class="{'active': card.data.price.currency}">Currency</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Manufacture Part Number"
                                       id="mpn"
                                       type="text"
                                       ng-model="card.data.mpn">
                                <label for="mpn"
                                       ng-class="{'active': card.data.mpn}">Manufacture Part Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Model"
                                       id="model"
                                       type="text"
                                       ng-model="card.data.model">
                                <label for="model"
                                       ng-class="{'active': card.data.model}">Model</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select
                                        ng-model="card.data.ebay.itemCondition"
                                        ng-options="option.DisplayName for option in card.data.ebay.categoryDetails.ConditionValues">
                                <option value="">Select item Condition</option>
                                </select>
                                <label ng-class="{'active': card.data.itemCondition}">Condition</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Payment Method"
                                       id="payment_method"
                                       type="text"
                                       ng-model="card.data.ebay.paymentMethod">
                                <label for="payment_method"
                                       ng-class="{'active': card.data.paymentMethod}">Payment Method</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="checkbox"
                                       id="return"
                                       ng-model="card.data.ebay.returnPolicyEnabled"/>
                                <label for="return"
                                       ng-class="{'active': card.data.returnPolicyEnabled}">Returns Accepted</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center">
                                <a class="btn"
                                   ng-click="apply(card.data)"
                                   class="waves-effect waves-light btn">Publish</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
    <li ng-switch-when="publishListing"
        class="publishListingCard white">
        <div class="collapsible-header active">
            <!--<i class="material-icons">filter_drama</i>-->
            <i class="fa fa-check-square-o"
               aria-hidden="true"></i>
            Published
        </div>
        <div class="collapsible-body">
            <div class="product-description-card ">
                <div class="card">
                    <col>
                    <div class="card-image pdp-image center-align">
                        <a target="_blank"
                           href="{{card.data.ebay.ebayListingUrl}}">
                            <img ng-src="{{card.data.ebay.image}}"
                                 alt="Product Image">
                        </a>
                    </div>
                    <div class="card-content">
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <i class="fa fa-shopping-cart circle"
                                   aria-hidden="true"></i>
                                <span class="title">Provider</span>
                                <p ng-if="card.data.providerId=='10002'">
                                    Provider : Amazon
                                </p>
                                <p ng-if="card.data.providerId=='10001'">
                                    Provider : ebay
                                </p>
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="fa fa-bullhorn circle"
                                   aria-hidden="true"></i>
                                <span class="title">Title</span>
                                <p>{{card.data.title}}
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="fa fa-plug circle"
                                   aria-hidden="true"></i>
                                <span class="title">Provider Item ID</span>
                                <p>{{card.data.providerItemId}}
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="fa fa-sitemap circle"
                                   aria-hidden="true"></i>
                                <span class="title">Category</span>
                                <p>{{card.data.ebay.subCategory.name}}
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="fa fa-sitemap circle"
                                   aria-hidden="true"></i>
                                <span class="title">Category ID</span>
                                <p>{{card.data.ebay.subCategory.code}}
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="fa fa-puzzle-piece circle"
                                   aria-hidden="true"></i>
                                <span class="title">Model</span>
                                <p>{{card.data.model}}
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="fa fa-info circle"
                                   aria-hidden="true"></i>
                                <span class="title">MPN</span>
                                <p>{{card.data.mpn}}
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="fa fa-usd circle"
                                   aria-hidden="true"></i>
                                <span class="title">Price</span>
                                <p>{{card.data.price.value + " " + card.data.price.currency}}
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="fa fa-list-alt circle"
                                   aria-hidden="true"></i>
                                <span class="title">Description</span>
                                <p>{{card.data.description}}
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action center-align">
                        <a class="btn-flat"
                           href="#/dashboard">Goto Dashboard</a>
                        <a class="btn-flat"
                           target="_blank"
                           href="{{card.data.ebay.ebayListingUrl}}">See on Ebay</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>