<ul id="card_{{card.type}}"
    ng-switch="card.type"
    class="collapsible popout"
    data-collapsible="accordion">
    <li ng-switch-when="parentCategory">
        <div class="collapsible-header active">
            <i class="material-icons">filter_drama</i>
            Select a Category
        </div>
        <div class="collapsible-body">
            <div class="collection">
                <a ng-click="apply(category._id)"
                   ng-repeat="category in card.data"
                   class="collection-item btn-flat">{{category.name}}</a>
            </div>
            <!--Button-->
            <!--<div class="row">
                <div class="col s3 offset-s9 m1 offset-m11 acc-next">
                    <a class="btn-floating" ng-click="applyOperation"><i
                            class="material-icons">done</i></a>
                </div>-->
        </div>
        </div>
    </li>
    <li ng-switch-when="subCategory">
        <div class="collapsible-header active">
            <i class="material-icons">filter_drama</i>
            Select a Sub Category
        </div>
        <div class="collapsible-body">
            <div class="collection">
                <a ng-click="apply(category._id)"
                   ng-repeat="category in card.data"
                   class="collection-item btn-flat">{{category.name}}</a>
            </div>
            <!--Button-->
            <!--<div class="row">
                <div class="col s3 offset-s9 m1 offset-m11 acc-next">
                    <a class="btn-floating" ng-click="applyOperation"><i
                            class="material-icons">done</i></a>
                </div>-->
        </div>
        </div>
    </li>
    <li ng-switch-when="uploadImage">
        <div class="collapsible-header active">
            <i class="material-icons">filter_drama</i>
            Add Image
        </div>
        <div class="collapsible-body">
            <div class="margin-10">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Select A File"
                                       id="uploadImage"
                                       type="file"
                                       class="validate"
                                       file-model="card.selectedData">
                            </div>
                            <a class="btn"
                               ng-click="apply(card.selectedData)">Upload</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
</ul>