<ul id="card_{{card.type}}"
    ng-switch="card.type"
    class="collapsible popout"
    data-collapsible="accordion">
    <li ng-switch-when="parentCategory">
        <div class="collapsible-header active">
            <i class="material-icons">filter_drama</i>
            Select a Category
        </div>
        <div class="collapsible-body">
            <div class="collection">
                <a ng-click="apply(category)"
                   ng-repeat="category in card.data"
                   class="collection-item btn-flat">{{category.name}}</a>
            </div>
        </div>
    </li>
    <li ng-switch-when="subCategory">
        <div class="collapsible-header active">
            <i class="material-icons">filter_drama</i>
            Select a Sub Category
        </div>
        <div class="collapsible-body">
            <div class="collection">
                <a ng-click="apply(category)"
                   ng-repeat="category in card.data"
                   class="collection-item btn-flat">{{category.name}}</a>
            </div>
        </div>
    <li ng-switch-when="uploadImage">
        <div class="collapsible-header active">
            <i class="material-icons">filter_drama</i>
            Add Image
        </div>
        <div class="collapsible-body">
            <div class="margin-10">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Select A File"
                                       id="uploadImage"
                                       type="file"
                                       class="validate"
                                       file-model="card.selectedData">
                            </div>
                            <a class="btn"
                               ng-click="apply(card.selectedData)">Upload</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
    <li ng-switch-when="newListing">
        <div class="collapsible-header active">
            <i class="material-icons">filter_drama</i>
            Final Details
        </div>
        <div class="collapsible-body">
            <div class="margin-10">
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s12">
                            <input placeholder="Title"
                                   id="title"
                                   type="text"
                                   ng-model="card.data.title">
                            <label for="title">Title</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="description"
                                      class="materialize-textarea"
                                      ng-model="card.data.description"></textarea>
                            <label for="description">Description</label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Price"
                                   id="price"
                                   type="text"
                                   ng-model="card.data.price">
                            <label for="price">Price</label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Manufacture Part Number"
                                   id="mpn"
                                   type="text"
                                   ng-model="card.data.mpn">
                            <label for="mpn">Manufacture Part Number</label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Model"
                                   id="model"
                                   type="text"
                                   ng-model="card.data.model">
                            <label for="model">Model</label>
                        </div>
                        <div class="input-field col s12">
                            <select
                                    ng-model="card.data.ebay.itemCondition"
                                    ng-options="option.DisplayName for option in card.data.ebay.categoryDetails.ConditionValues">
                            </select>
                            <label>Condition</label>
                            {{card.data.itemCondition}}
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Payment Method"
                                   id="payment_method"
                                   type="text"
                                   ng-model="card.data.ebay.paymentMethod">
                            <label for="payment_method">Payment Method</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="checkbox"
                                   id="return"
                                   ng-model="card.data.ebay.returnPolicyEnabled"/>
                            <label for="return">Returns Accepted</label>
                        </div>
                        <div class="col s12 center">
                            <a class="btn"
                               ng-click="apply(card.data)"
                               class="waves-effect waves-light btn">Publish</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
    <li ng-switch-when="publishListing">
        <div class="collapsible-header active">
            <i class="material-icons">filter_drama</i>
            Published
        </div>
        <div class="collapsible-body">
            <div class="margin-10">
                <div class="row">
                    <div class="col s12">
                        <h5>Awesome. Your Listing is Live.</h5>
                        <a href="{{card.data.ebay.ebayListingUrl}}">{{card.data.ebay.ebayListingUrl}}</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>