<div class="fixed-action-btn horizontal" ng-show="dc.isUserAdmin() || dc.isUserMerchant()">
    <a class="btn-floating btn-large blue">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul class="">
        <li class="center"><a class="btn-floating red" href="#/dashboard/catalog/new" aria-label="Add Catalog">C</a></li>
        <li class="center"><a class="btn-floating yellow darken-1" href="#/dashboard/product/new" aria-label="Add Product">P</a></li>
        <li class="center"><a class="btn-floating green darken-1" href="#/sell" aria-label="Add Listing">L</a></li>
    </ul>
</div>