<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="#/dashboard" class="breadcrumb">Home</a>
            <a href="#/dashboard/profile" class="breadcrumb" ng-show="$location.url().includes('profile')">Profile</a>
            <a href="#/dashboard/users" class="breadcrumb" ng-show="$location.url()=='/dashboard/users'">Users</a>
            <a href="#/dashboard/catalogs" class="breadcrumb" ng-show="$location.url().includes('catalog')">Catalogs</a>
            <a href="#/dashboard/products" class="breadcrumb" ng-show="$location.url().includes('product')">Products</a>
            <a href="#/dashboard/listigs" class="breadcrumb" ng-show="$location.url().includes('listing')">Listings</a>
            <a href="#/dashboard/providers" class="breadcrumb" ng-show="$location.url().includes('provider')">Providers</a>
            <a class="breadcrumb" ng-show="$location.url().includes('new')">New</a>
            <a class="breadcrumb" ng-show="$location.url().includes('edit')">Edit</a>
            <a class="breadcrumb" ng-show="$location.url().includes('view')">View</a>
        </div>
    </div>
</nav>
