<div id="dashboard-sidebar" class="col s12 m3">
    <div id="dashboard-profile-card" class="row">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s4">
                    <img ng-src="{{dc.user.imageUrl}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s8">
              <span class="black-text">
                {{dc.user.firstName}} {{dc.user.lastName}}
                  <br>
                  <a href="#/dashboard/profile/edit">Edit Profile</a>
              </span>
                </div>
            </div>
        </div>
    </div>

    <div class="divider grey"></div>
    <div id="side-links" class="row">
        <div class="col s12">
            <!-- Dropdown Trigger -->
            <a id="dashboard-dropdown-button" class='dropdown-button btn hide-on-med-and-up' data-beloworigin="true" data-activates='dropdown-options'>Menu</a>
            <ul id="dropdown-options" class="dropdown-content">
                <a href="#/dashboard"><li>Home</li></a>
                <a href="#/dashboard/users" ng-show="dc.isUserAdmin()"><li class="center-align">Users</li></a>
                <a href="#/dashboard/catalogs" ng-show="dc.isUserAdmin() || dc.isUserMerchant()"><li>Catalogs</li></a>
                <a href="#/dashboard/products" ng-show="dc.isUserAdmin() || dc.isUserMerchant()"><li>Products</li></a>
                <a ng-show="dc.isUserAdmin() || dc.isUserMerchant()" disabled><li>Listings</li></a>
                <a disabled><li  ng-show="dc.isUserAdmin() || dc.isUserMerchant()"disabled>Providers</li></a>
                <a href="#/dashboard/profile"><li>Profile</li><a>
            </ul>
            <ul class="hide-on-small-only">
                <a href="#/dashboard"><li>Home</li></a>
                <a href="#/dashboard/users" ng-show="dc.isUserAdmin()"><li>Users</li></a>
                <a href="#/dashboard/catalogs" ng-show="dc.isUserAdmin() || dc.isUserMerchant()"><li>Catalogs</li></a>
                <a href="#/dashboard/products" ng-show="dc.isUserAdmin() || dc.isUserMerchant()"><li>Products</li></a>
                <a ng-show="dc.isUserAdmin() || dc.isUserMerchant()" disabled><li>Listings</li></a>
                <a disabled><li  ng-show="dc.isUserAdmin() || dc.isUserMerchant()"disabled>Providers</li></a>
                <a href="#/dashboard/profile"><li>Profile</li><a>
            </ul>
        </div>
    </div>
</div>