<div class="container">
    <div class="section main-content">
        <div class="row center div-10">
            <div class="col s12 m6 offset-m3">
                <h4 class="grey-text">Login</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m5" id="login-alert" style="display:none">
                <div class="card-panel teal">
          <span class="white-text">
              <strong>Invalid User</strong> Username/Password combo does not exist.
          </span>
                </div>
            </div>
        </div>

            <form class="col s12 m6 offset-m3">
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="user.username" id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="user.password" id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row center">
                    <div class col s12 m6 offset-m3>
                        <a ng-click="login()" class="waves-effect waves-light btn">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>