<div class="container">
    <div class="section main-content">
        <div class="card white">
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="row center div-10">
                        <h4 class="grey-text">Register</h4>
                    </div>
                    <!--Error Div-->
                    <!--<div class="row">-->
                        <!--<div class="card-panel red">-->
                        <!--<span class="white-text">-->

                        <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="row">
                <form class="col s10 offset-s1">
                    <div class="row">
                        <div class="input-field col s6">
                            <input ng-model="user.user.firstName"
                                   id="first_name"
                                   type="text" required=""
                                   class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input ng-model="user.user.lastName"
                                   id="last_name"
                                   type="text" required=""
                                   class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-model="user.user.username"
                                   id="username"
                                   type="text" required=""
                                   class="validate">
                            <label for="username">User Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input ng-model="user.user.password"
                                   id="password"
                                   type="password" required=""
                                   class="validate">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="repeat-password"
                                   type="password" required=""
                                   class="validate">
                            <label for="repeat-password">Repeat Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-model="user.user.email"
                                   id="email"
                                   type="email" required=""
                                   class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label for="roles">Role</label>
                            <select name="roles"
                                    id="roles"
                                    ng-model="user.user.roles">
                                <!--<option value="" disabled selected>Choose your option</option>-->
                                <option value="customer">Customer</option>
                                <option value="merchant">Merchant</option>
                            </select>
                        </div>
                    </div>
                    <div class="row s12">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Upload Avatar</span>
                                <input
                                        type="file"
                                        id="imageUpload"
                                        ngf-select
                                        ng-model="user.user.image"
                                        name="file"
                                        ngf-pattern="'image/*'"
                                        accept="image/*"
                                        ngf-max-size="20MB"
                                />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <input ng-model="user.user.imageUrl"
                                   id="imageUrl"
                                   type="text">
                            <label for="imageUrl">or Enter Image URL</label>
                        </div>
                        <div class="col s12 m6">
                            <img ng-if="user.user.imageUrl"
                                 ng-src={{user.user.imageUrl}}
                                 width="100%"/>
                            <img style="width:100%" ng-if="user.user.image && !user.user.imageUrl" ngf-thumbnail="user.user.image"/>
                        </div>
                    </div>
                    <div class="row center">
                        <div class
                             col
                             s12>
                            <a ng-click="user.register()"
                               class="waves-effect waves-light btn">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>