<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h1>{{model.user.firstName}}</h1>
                <h1>{{model.user.lastName}}'s Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="btn blue modal-trigger" data-target="message-modal">Message {{model.user.firstName}}</div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="col s6 m4" ng-repeat="product in model.user.products">
                    <div class="card grey darken-3">
                        <div class="card-image">
                            <img src="{{product.imageUrl}}">
                            <span class="card-title">{{product.name}}</span>
                        </div>
                        <div class="card-content white-text">
                            <p>{{product.description}}</p>
                            <p>{{product.price}}</p>
                        </div>
                        <div class="card-action">
                            <a href="#/user/{{model.user._id}}/product/{{product._id}}">See {{product.name}}</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="message-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Message to {{model.user.firstName}}</h4>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="message" class="materialize-textarea" ng-model="model.message.text"></textarea>
                <label for="message">Message</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Send</a>
    </div>
</div>