<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#test1">Users</a></li>
            <li class="tab col s3"><a class="active" href="#test2">Catalogs</a></li>
            <li class="tab col s3"><a href="#test3">Products</a></li>
            <li class="tab col s3 disabled"><a href="#test4">Providers</a></li>
        </ul>
    </div>
<div id="test1" class="col s12">
<h2>Manage Users:</h2>
<div ng-repeat="user in admin.users">
    <ul>
        <li>First Name: {{user.firstName}}</li>
        <li>Last Name: {{user.lastName}}</li>
        <li>Username: {{user.username}}</li>
        <li>Password: {{user.password}}</li>
        Roles
        <li ng-repeat="role in user.roles">{{role}}</li>
        <li>{{user.email}}</li>
        <li><button ng-click="cc.goToUpdate(user)">Update</button></li>
        <li><button ng-click="cc.deleteCatalog(user._id)">Delete</button></li>
    </ul>
</div>
</div>

<div id="test2" class="col s12">
<h2>Manage Catalogs:</h2>
<div ng-repeat="catalog in admin.catalogs">
    <ul>
        <li>{{catalog.name}}</li>
        <li>{{catalog.merchantId}}</li>
        <li>{{catalog.productIds}}</li>
        <li><button ng-click="cc.goToUpdate(catalog)">Update</button></li>
        <li><button ng-click="cc.deleteCatalog(catalog._id)">Delete</button></li>
    </ul>
</div>
</div>

<div id="test3" class="col s12">
<h2>Manage Products:</h2>
<div ng-repeat="catalog in cc.catalogs">
    <ul>
        <li>{{catalog.name}}</li>
        <li>{{catalog.merchantId}}</li>
        <li>{{catalog.productIds}}</li>
        <li><button ng-click="cc.goToUpdate(catalog)">Update</button></li>
        <li><button ng-click="cc.deleteCatalog(catalog._id)">Delete</button></li>
    </ul>
</div>
</div>
    <div id="test4" class="col s12"></div>
</div>
