<div class="row"
     ng-if="dc.isUserMerchant()">
    <div ng-controller="ShowCatalogController as scc">
        <div class="col s12 m6"
             ng-repeat="product in scc.products">
            <div class="card grey darken-3">
                <div class="card-image">
                    <img ng-src="{{product.imageUrl}}"/>
                </div>
                <div class="card-content white-text">
                    <h5>{{product.description}}</h5>
                    <h6>{{product.price.value | currency}}</h6>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12 l3">
                            <a href="#/dashboard/product/{{product._id}}/view">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                Details</a>
                        </div>
                        <div class="col s12 l3">
                            <a href="#/dashboard/product/{{product._id}}/edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Edit</a>
                        </div>
                        <div class="col s12 l3">
                            <a href="" ng-click="scc.deleteProduct(product._id)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete</a>
                        </div>
                        <div class="col s12 l3">
                            <a href="" ng-click="scc.createListing(product)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                New Listing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-action center">
    <a class="btn waves-effect"
       href="#/dashboard/product/new">Add Product</a>
</div>